.error-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.error-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.error-logo {
  text-decoration: none;
}
.error-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.error-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.error-nav12 {
  transition: 0.3s;
  text-decoration: none;
}
.error-nav4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.error-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.error-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-login {
  margin-right: 32px;
  text-decoration: none;
}
.error-register {
  text-decoration: none;
}
.error-burger-menu {
  display: none;
}
.error-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.error-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.error-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.error-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.error-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.error-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.error-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.error-nav2 {
  margin-bottom: var(--dl-space-space-unit);
}
.error-nav3 {
  margin-bottom: var(--dl-space-space-unit);
}
.error-nav41 {
  margin-bottom: var(--dl-space-space-unit);
}
.error-nav51 {
  margin-bottom: var(--dl-space-space-unit);
}
.error-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.error-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.error-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.error-hero {
  width: 100%;
  height: 650px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-sixunits);
  max-height: 80vh;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
}
.error-image {
  left: 0px;
  right: 0px;
  width: 687px;
  height: 768px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.error-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.error-logo2 {
  text-decoration: none;
}
.error-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.error-nav11 {
  margin-left: 0px;
  text-decoration: none;
}
.error-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.error-nav52 {
  margin-left: var(--dl-space-space-unit);
}
.error-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.error-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.error-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.error-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .error-hero {
    height: 649px;
  }
  .error-image {
    width: 561px;
    height: 522px;
  }
}
@media(max-width: 1200px) {
  .error-image {
    top: 0px;
    width: 546px;
    bottom: 0px;
    height: 530px;
    margin: auto;
  }
}
@media(max-width: 991px) {
  .error-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .error-image {
    order: 2;
    height: 702px;
  }
}
@media(max-width: 767px) {
  .error-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error-desktop-menu {
    display: none;
  }
  .error-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .error-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .error-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .error-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .error-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .error-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .error-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error-image {
    width: 80%;
  }
  .error-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .error-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .error-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .error-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .error-mobile-menu1 {
    padding: 16px;
  }
  .error-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .error-image {
    top: 0px;
    bottom: 0px;
    height: 434px;
    margin: auto;
  }
  .error-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .error-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .error-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .error-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
