{% extends 'impred/base.html' %}

{% block content %}

        <!-- First baner -->

        <div class="home-hero">
            <div class="heroContainer home-hero1">
              <div class="home-container1">
                <h1 class="home-hero-heading heading1">Welcome to YASO Lab</h1>
                <span class="home-text">Discover&nbsp;AI with YASO Lab</span>
               
                <div class="home-btn-group">
                  <a href="{% url 'user:login' %}" class="home-hero-button1 buttonFilled">
                    Get Started
                  </a>
                  <a href="{% url 'user:login' %}" class="home-hero-button2 buttonFlat">
                    Learn More&nbsp;→
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="home-faq">
            <div class="home-faq-container faqContainer">
              <div class="home-faq1">
                <div class="home-container2">
                  <span class="overline">
                    <span>MIT LICENSE project</span>
                    <br />
                  </span>
                  <h2 class="home-text18 heading2">YASO</h2>
                  <span class="home-text19">
                    <span>Artificial Intelligence Laboratory</span>
                    <br class="bodyLarge" />
                  </span>
                </div>
                <div class="home-container3">
                  <div class="question1-container">
                    <span class="question1-text">Who we are?</span>
                    <span>
                      <br />
                      <span>
                        YASO Lab - your ideal partner in the world of artificial
                        intelligence and algorithms! The YASO Lab platform is
                        designed to provide access to the most advanced tools and
                        resources for studying and improving skills in these
                        exciting areas.
                      </span>
                      <br />
                      <br />
                      <span>What makes YASO Lab unique?</span>
                      <br />
                      <br />
                      <span>
                        Hands-on learning: With YASO Lab, you can not only
                        theoretically study algorithms but also apply them to
                        real-world tasks. Our practical assignments will help you
                        solidify your knowledge and gain valuable experience in
                        solving real problems.
                      </span>
                      <br />
                      <br />
                      <span>
                        Interactivity: Our platform promotes active learning
                        through interactive elements, data visualization, and the
                        ability to exchange ideas with other community members.
                      </span>
                      <br />
                      <br />
                      <span>
                        Support: The YASO Lab team is always ready to assist you
                        with any questions, provide guidance on educational
                        materials, and help with task solutions.
                      </span>
                      <br />
                      <br />
                      <span>
                        Don't waste time - join YASO Lab today and unleash your
                        potential in the world of artificial intelligence and
                        algorithms!
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Our team -->
  
          <h1 class="home-text22">YASO team</h1>
          <div class="home-blog">
  
            <div class="blog-post-card41-blog-post-card blog-post-card41-root-class-name1">
              <img
                alt="image"
                src="https://avatars.githubusercontent.com/u/126519662?v=4"
                class="blog-post-card41-image"
              />
              <div class="blog-post-card41-container">
                <span class="blog-post-card41-text">Oleksiy Goryachev</span>
                <div class="blog-post-card41-separator"></div>
                <span class="blog-post-card41-text1">TEAM LEADER</span>
              </div>
            </div>
  
            <div class="home-container4">
  
              <div class="blog-post-card41-blog-post-card blog-post-card41-root-class-name2">
                <img
                  alt="image"
                  src="/media/external/svitlana-1500w.jpg"
                  class="blog-post-card41-image"
                />
                <div class="blog-post-card41-container">
                  <span class="blog-post-card41-text">Svitlana Kovaleva</span>
                  <div class="blog-post-card41-separator"></div>
                  <span class="blog-post-card41-text1">PYTHON DEVELOPER</span>
                </div>
              </div>
              
              <div class="blog-post-card41-blog-post-card blog-post-card41-root-class-name3">
                <img
                  alt="image"
                  src="https://avatars.githubusercontent.com/u/128192015?v=4"
                  class="blog-post-card41-image"
                />
                <div class="blog-post-card41-container">
                  <span class="blog-post-card41-text">Yury Nikitchenko</span>
                  <div class="blog-post-card41-separator"></div>
                  <span class="blog-post-card41-text1">PYTHON DEVELOPER</span>
                </div>
              </div>
  
            </div>
  
            <div class="blog-post-card41-blog-post-card blog-post-card41-root-class-name4">
              <img
                alt="image"
                src="https://avatars.githubusercontent.com/u/13149612?v=4"
                class="blog-post-card41-image"
              />
              <div class="blog-post-card41-container">
                <span class="blog-post-card41-text">Andrii Chychur</span>
                <div class="blog-post-card41-separator"></div>
                <span class="blog-post-card41-text1">PYTHON DEVELOPER</span>
              </div>
            </div>
  
          </div>
  
          <!-- Finis our team -->
  
{% endblock %}
