{% extends "impred/base.html" %}

{% block content %}

<div class="lab-blog lab-container1">
    <div class="card2-blog">
        <div class="card2-image">
            <img
                alt="image"
                src="https://img.freepik.com/free-vector/graident-ai-robot-vectorart_78370-4114.jpg?w=740&amp;t=st=1707905773~exp=1707906373~hmac=b83638e5fa0d3569c22dd03176cb76b37ed3a4a7adc215a75d41f4ceac7de95c://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;w=1000"
                image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
                class="" style="width: 100%;"
            />
        </div>
        <div class="card2-container">
            <div class="card2-container1">
                <p class="blog-post-card2-text">version <span id="id_version">0.1.4</span></p>
                <p class="blog-post-card2-text1">accuracy: <span id="id_accuracy">91%</span></p>
            </div>

            <!-- Result of model work (terminal)  -->

            <div class="blog-post-card2-text2" id="id_description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                non volutpat turpis. Mauris luctus rutrum mi ut rhoncus.
                Integer in dignissim tortor. Lorem ipsum dolor
                sit amet, consectetur adipiscing ..
            </div>

            <form method="post" enctype="multipart/form-data" style="width: 100%;" action="{% url 'impred:loadimage' %}">
                {% csrf_token %}

                <div class="card2-container22">

                    <div class="card2-profile">
                        <img
                            alt="profile"
                            src="https://img.freepik.com/free-vector/graident-ai-robot-vectorart_78370-4114.jpg?w=740&amp;t=st=1707905773~exp=1707906373~hmac=b83638e5fa0d3569c22dd03176cb76b37ed3a4a7adc215a75d41f4ceac7de95c"
                            class="card2-image1"
                        />
                        <div class="input">
                            {{ image_form.listmodels }}
                        </div>
                    </div>

                    <div class="card2-container2">

                        <div class="input">
                            {{ image_form.imagepath }}
                        </div>

                        <button type="submit" class="blog-post-card22-button button">RUN</button>
                    </div>

                    <p class="alert-error">{{image_form.errors.imagepath}}</p>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    let models = '{{models}}';
    models = models.replaceAll('&quot;', '"').replaceAll('&#x27;', "'");
    models = JSON.parse(models);
    console.log(models);

    const formNetModelSelect = document.getElementById("id_models");

    async function labNetModelChange(event) {
        const val = formNetModelSelect.value;
        const des = document.getElementById("id_description");
        const ver = document.getElementById("id_version");
        const acc = document.getElementById("id_accuracy");

        for (let i = 0; i < models.length; i++) {
            let a = models[i];
            if (a['id'] === val) {
                des.textContent = a['description'];
                ver.textContent = a['version'];
                acc.textContent = a['accuracy'];
                break;
            }
        }
    }

    formNetModelSelect.addEventListener("change", labNetModelChange);
    labNetModelChange();

</script>

{% endblock content %}
