{% extends "impred/base.html" %}

{% block content %}

<div class="home-hero">
    <div class="home-faq11">

        <div>
            <h1 class="mb-12">Predict Images</h1>
        </div>

        <div style="display: flex;gap: 12px;flex-wrap: wrap;">
            {% for image in images %}
            <div class="quote">
                <p> "Thits is <span class="bold">{{ image.predict.name }}</span>"</p>
                <img src="/media/{{image.imagepath}}" alt="{{ image.predict.name }}" style="max-width: 100%; max-height: 100%;">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
